Middleware/Service/W2SB_INETGRATION/W2SB_INETGRATION/W2SB_INSERT/SOA/MyclassPort_xsd_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:ns0="http://emical/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emical/">
    <xsd:complexType name="emi_calculator">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:float"/>
            <xsd:element name="arg1" type="xsd:float"/>
            <xsd:element name="arg2" type="xsd:float"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="emi_calculatorResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:float"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="emi_calculator" type="ns0:emi_calculator"/>
    <xsd:element name="emi_calculatorResponse" type="ns0:emi_calculatorResponse"/>
</xsd:schema>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
