Middleware/Service/W2SB_INETGRATION/W2SB_INETGRATION/W2SB_INSERT/SOA/Schemas/UpdateTxnID.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateTxnID" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateTxnID" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UpdateTxnIDInput" type="UpdateTxnIDInput"/>
   <xs:complexType name="UpdateTxnIDInput">
      <xs:sequence>
         <xs:element name="Txnid" type="xs:string" nillable="true"/>
         <xs:element name="custid" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>